<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
  
</head>
<body>
    <div class="container-home">
        <div class="row">
          <div class="col-md-6 text-container">
            <h2 class="text">GERMAN@LIV</h2>
            <h3 class="animated-text">We find the best and the most affordable homes for you at Germany</h3>
            <br>
            <h5 class="animated-text">Try our latest house rental price prediction model GBR-v1.1.77</h5>
          </div>
          
            <div class="col-md-12 btn-container">
               <a href="/region_rent"><button class="button">Find affordable regions</button></a> 
               <a href="/region_count"><button class="button">See rental offers</button></a> 
               <a href="/prediction"><button class="button">Predict the price</button></a> 
              </div>
            </div>
          </div>
        </div>
    
        <div class="row">
            <div class="col-md-6 image-container hover-effect">
              <a href="https://www.google.com/maps/place/Germany" target="_blank">
                <img src="/static/german_grey1.png" alt="Your Image" class="img-fluid">
              </a>
      </div>
      <script src="/static/script.js"></script>  

</body>
  
</html>